<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let allbook of b">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{allbook.bname}}</h5>
          <p class="card-text">{{allbook.author.aname}}</p>
          <p class="card-text">{{allbook.price | currency:"INR"}}</p>
          <a class="btn btn-primary"
            (click)="buy({'bname':allbook.bname,'aname':allbook.author.aname,'price':allbook.price})"
            *ngIf="!f1">Buy</a>
        </div>
      </div>
    </div>
  </div>