<table class="table table-striped table-dark ">
    <thead>
      <tr>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th scope="col">Book Price</th>
        <th scope="col">Quentity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bb of bbook" >
        <td>{{bb.bname}}</td>
        <td>{{bb.aname}}</td>
        <td>{{bb.price}}</td>
        <td>{{bb.quentity}}</td>
        <td><button class="btn btn-danger" (click)="deleteBBook({'bname':bb.bname,'quantity':bb.quantity})">Delete</button></td>
      </tr>
    </tbody>
  </table>
